@font-face {
    font-family: 'NunitoSans';
    font-display: swap;
    font-style: normal;
    src: url("../fonts/NunitoSans.woff") format('woff'),
         url("../fonts/NunitoSans.woff2") format('woff2');
}