@import 'variables';
@import 'fonts.scss';

* {
    font-family: 'NunitoSans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: #F9FBFF;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

@media (max-width: 1352px) {
    .container {
        padding: 0 32px;
    }
}

@media (max-width: 991px) {
    .container {
        padding: 0 69px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 24px;
    }
}

@import 'blocks/elements.scss';
@import 'blocks/header.scss';
@import 'blocks/promo.scss';
@import 'blocks/services.scss';
@import 'blocks/history.scss';
@import 'blocks/specialists.scss';
@import 'blocks/clients.scss';
@import 'blocks/materials.scss';
@import 'blocks/footer.scss';

// @media (max-width: 1200px)
// @media (max-width: 991px)
// @media (max-width: 767px)
// @media (max-width: 543px)