.clients {
    min-height: 588px;
    padding: 80px 0;
    background: url("../img/bg.png") center center/cover no-repeat;
    background-color: rgba(217, 217, 217, 0.1);
    background-blend-mode: multiply;
    &__container {
        position: relative;
    }
    &__title {
        position: relative;
        text-align: left;
        margin-bottom: 61px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -13px;
            width: 50px;
            height: 3px;
            background-color: $main-color;
        }
    }
    &__swiper {
        margin-bottom: 32px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    &__card {
        min-height: 244px;
        background-color: #fff;
        padding: 32px;
    }
    &__top {
        display: flex;
        min-height: 80px;
        width: 100%;
        margin-bottom: 16px;
    }
    &__prof {
        display: flex;
        align-items: center;
        margin-right: auto;
    }
    &__avatar {
        width: 80px;
        height: 80px;
        margin-right: 24px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &__company {
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        color: $second-color;
        margin-bottom: 4px;
    }
    &__name {
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        color: $second-color;
    }
    &__feather {
        width: 55px;
        height: 55px;
    }
    &__ico {
        width: 55px;
        height: 55px;
    }
    &__content {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: $second-color;
    }
    &__controler-button {
        position: absolute;
        z-index: 2;
        width: 70px;
        height: 28px;
        top: 13px;
        right: 0;
    }
    &__slash {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
        line-height: 35px;
        font-weight: 300;
        color: $main-color;
    }
    &__swiper-button-prev {
        width: 13px;
        height: 20px;
        left: 0;
        top: 100%;
        &::after {
            width: 13px;
            height: 20px;
            font-size: 20px;
            font-weight: 900;
            color: $main-color;
            transition: all 0.2s;
        }
        &:hover::after {
            color: #222222;
        }
    }
    &__swiper-button-next {
        width: 13px;
        height: 20px;
        top: 100%;
        right: 0;
        &::after {
            width: 13px;
            height: 20px;
            font-size: 20px;
            font-weight: 900;
            color: $main-color;
            transition: all 0.2s;
        }
        &:hover::after {
            color: #222222;
        }
    }
    &__buttons {
        display: flex;
    }
    &__but {
        margin-right: 24px;
    }
}

@media (max-width: 1352px) {
    .clients {
        &__controler-button {
            right: 32px;
        }
    }
}
@media (max-width: 1200px) {
    .clients {
        &__card {
            width: 576px;
        }
    }
}
@media (max-width: 991px) {
    .clients {
        min-height: 550px;
        padding: 60px 0;
        &__swiper {
            margin-bottom: 36px;
        }
        &__card {
            width: 576px;
        }
        &__controler-button {
            right: 69px;
        }
    }
}
@media (max-width: 767px) {
    .clients {
        &__controler-button {
            display: none;
        }
    }
}
@media (max-width: 543px) {
    .clients {
        padding: 40px 0;
        &__title {
            margin-bottom: 37px;
        }
        &__controler-button {
            display: none;
        }
        &__swiper {
            margin-bottom: 24px;
        }
        &__card {
            padding: 24px;
        }
        &__avatar {
            width: 50px;
            height: 50px;
            margin-right: 16px;
            img {
                width: 50px;
            }
        }
        &__name {
            font-size: 18px;
        }
        &__feather {
            display: none;
        }
        &__buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__but {
            width: 146px;
            margin-right: 0;
            margin-bottom: 24px;
        }
        &__but-sub {
            width: 185px;
        }
    }
}