.button {
    height: 48px;
    background-color: $main-color;
    border: none;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    transition: background-color, color 0.3s;
    &:hover {
        background-color: #ffffff;
        border: 2px solid $main-color;
        padding: 14px 22px;
        color: $main-color;
    }
    &_sub {
        background-color: #E6E6E6;
        color: $second-color;
        &:hover {
            background-color: #ffffff;
            border: 2px solid #E6E6E6;
            padding: 14px 22px;
            color: $second-color;
        }
    }
}

.title {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: $second-color;
    &_left {
        text-align: left;
    }
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: $second-color;
}

.links {
    transition: all 0.2s;
    &:hover {
        color: $main-color;
    }
    &-nav {
        transition: color 0.2s;
        &:hover {
            color: $main-color;
            border-bottom: 1px solid $main-color;
            margin-bottom: -1px;
        }
    }
}

@media (max-width: 991px) {
    .title {
        font-size: 24px;
    }
    .button {
        pointer-events: none;
    }
    .links {
        pointer-events: none;
    }
}

@media (max-width: 543px) {
    .title {
        font-size: 20px;
    }
}