.materials {
    min-height: 913px;
    padding: 80px 0;
    &__container {
        text-align: center;
    }
    &__title {
        position: relative;
        margin-bottom: 37px;
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -13px;
            width: 50px;
            height: 3px;
            background-color: $main-color;
        }
    }
    &__subtitle {
        max-width: 920px;
        margin: 0 auto 48px;
    }
    &__swiper {
        margin-bottom: 48px;
    }
    &__card {
        min-height: 481px;
        max-width: 424px;
    }
    &__img {
        width: 424px;
        height: 270px;
        position: relative;
        margin-bottom: 24px;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;    
            transition: all 0.3s;
        }
        &:hover::before {  
            background-color: rgba(79, 143, 240, 0.4);
        }
        &:hover .materials__corner-one {
            top: 20px;
            left: 20px;
            opacity: 1;
        }
        &:hover .materials__corner-two {
            top: 20px;
            right: 20px;
            opacity: 1;
        }
        &:hover .materials__corner-three {
            bottom: 20px;
            right: 20px;
            opacity: 1;
        }
        &:hover .materials__corner-four {
            bottom: 20px;
            left: 20px;
            opacity: 1;
        }
        &:hover .materials__center {
            opacity: 1;
        }

    }
    &__corner-one {
        position: absolute;
        width: 35px;
        height: 35px;
        border-top: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.3s;
    }
    &__corner-two {
        position: absolute;
        width: 35px;
        height: 35px;
        border-top: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        top: 0;
        right: 0;
        opacity: 0;
        transition: all 0.3s;
    }
    &__corner-three {
        position: absolute;
        width: 35px;
        height: 35px;
        border-right: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: all 0.3s;
    }
    &__corner-four {
        position: absolute;
        width: 35px;
        height: 35px;
        border-bottom: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all 0.3s;
    }
    &__center {
        position: absolute;
        width: 41px;
        height: 40px;
        background-color: #fff;
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }
    &__ico {
        width: 21px;
        height: 20px;
    }
    &__minititle {
        cursor: pointer;
        a {
            font-size: 16px;
            font-weight: 700;
            color: $second-color;
            transition: all 0.3s;
        }
        text-align: left;
        margin-bottom: 16px;
        &:hover a {
            color: $main-color;
        }
    }
    &__date {
        font-size: 12px;
        font-weight: 300;
        text-align: left;
        color: $second-color;
        margin-bottom: 16px;
    }
    &__descr {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: $second-color;
    }
}

@media (max-width: 991px) {
    .materials {
        min-height: 850px;
        padding: 60px 0;
        &__card {
            max-width: 336px;
        }
        &__img {
            width: 336px;
            img {
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 543px) {
    .materials {
        min-height: 800px;
        padding: 40px 0;
        &__swiper {
            margin-bottom: 40px;
        }
        &__card {
            max-width: 250px;
        }
        &__title {
            margin-bottom: 29px;
        }
        &__subtitle {
            margin-bottom: 24px;
        }
        &__img {
            width: 250px;
            height: 200px;
            margin-bottom: 16px;
        }
        &__minititle {
            a {
                font-size: 14px;
            }
        }
    }
}