.promo {
    min-height: 870px;
    position: relative;
    &__swiper {
        min-height: 870px;
        width: 100%;
    }
    &__swiper-slide {
        min-height: 870px;
        width: 100%;
        background: url("../img/bg/bg1.jpg") center center/cover no-repeat;
        background-color: rgba(34, 34, 34, 0.64);
        background-blend-mode: multiply;
        &:nth-child(2) {
            background: url("../img/bg/bg2.jpg") center center/cover no-repeat;
            background-color: rgba(34, 34, 34, 0.64);
        }
        &:nth-child(3) {
            background: url("../img/bg/bg3.jpg") center center/cover no-repeat;
            background-color: rgba(34, 34, 34, 0.64);
        }
    }
    &__controler {
        height: 40px;
        width: 1320px;
        display: flex;
        position: absolute;
        z-index: 5;
        bottom: 36px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__swiper-pagination {
        max-width: 36px;
        top: 0;
    }
    &__controler-button {
        position: absolute;
        width: 70px;
        height: 28px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
    &__slash {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
        line-height: 35px;
        font-weight: 300;
        color: #E6E6E6;
    }
    &__swiper-button-prev {
        width: 13px;
        height: 20px;
        left: 0;
        top: 100%;
        &::after {
            width: 13px;
            height: 20px;
            font-size: 20px;
            font-weight: 900;
            color: #E6E6E6;
            transition: all 0.2s;
        }
        &:hover::after {
            color: $main-color;
        }
    }
    &__swiper-button-next {
        width: 13px;
        height: 20px;
        top: 100%;
        right: 0;
        &::after {
            width: 13px;
            height: 20px;
            font-size: 20px;
            font-weight: 900;
            color: #E6E6E6;
            transition: all 0.2s;
        }
        &:hover::after {
            color: $main-color;
        }
    }
    &__wrapper {
        display: flex;
        max-width: 1090px;
        width: max-content;
        position: absolute;
        z-index: 3;
        top: 260px;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 56px;
        font-weight: 600;
        text-align: center;
        color: $main-color;
        margin-bottom: 8px;
    }
    &__title-span {
        padding-bottom: 8px;
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        color: #ffffff;
    }
    &__subtite {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
        margin-bottom: 48px;
    }
}

.swiper-pagination-bullet {
    width: 4px;
    height: 24px;
    background-color: #E6E6E6;
    opacity: 1;
    border-radius: 0%;
    transition: all 0.1s;
}
.swiper-pagination-bullet-active {
    height: 40px;
    background-color: $main-color;
}

@media (max-width: 1352px) {
    .promo {
        &__controler {
            width: 100%;
        }
        &__swiper-pagination {
            left: 32px;
        }
        &__controler-button {
            right: 32px;
        }
        .swiper-pagination-horizontal {
            left: 32px;
        }
    }
}
@media (max-width: 1200px) {
    .promo {
        &__wrapper {
            max-width: none;
            padding: 0 32px;
            width: 100%;
        }
    }
}
@media (max-width: 991px) {
    .promo {
        min-height: 581px;
        &__swiper {
            min-height: 581px;
        }
        &__swiper-slide {
            min-height: 581px;
        }
        &__wrapper {
            top: 170px;
            padding: 0 64px;
        }
        &__title {
            font-size: 50px;
        }
        &__title-span {
            font-size: 24px;
        }
        &__subtite {
            font-size: 18px;
            margin-bottom: 46px;
        }
        &__controler {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        min-height: 538px;
        &__swiper {
            min-height: 538px;
        }
        &__swiper-slide {
            min-height: 538px;
        }
        &__wrapper {
            top: 170px;
            padding: 0 24px;
        }
        &__title {
            font-size: 30px;
        }
        &__title-span {
            font-size: 18px;
        }
        &__subtite {
            font-size: 16px;
            margin-bottom: 32px;
        }
        &__swiper-pagination {
            left: 24px;
        }
        &__controler-button {
            right: 24px;
        }
        .swiper-pagination-horizontal {
            left: 24px;
        }
    }
}

@media (max-width: 543px) {
    .promo {
        &__wrapper {
            top: 150px;
        }
    }
}